/*color game*/


body{
	background-color: #474747;
}

.container{
	max-width: 600px;
	margin: 0 auto;
}

.container h1{
color: #fff;
text-align: center;
}




.square{
	width:30%;
	background-color: #D13CFF;
	padding-bottom: 30%;
	float:left;
	margin: 1.66%;
	border-radius: 10%;
}


.active{
	background-color: #85CCFF !important;
}

